<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <div th:replace="${view} :: stylesheets">
        for css
    </div>
</head>
<body style="background: yellow;">
<img src="/resources/laptop.jpg" alt="" />
<div th:replace="header-backend :: header_page">Disini header backend</div>
<div th:replace="${view} :: content">Disini content</div>
<div th:replace="footer-backend :: footer_page">Disini header backend</div>
</body>
<div th:replace="${view} :: scripts">
    for javascript
</div>
</html>